# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings/
target/
datanucleus.log
dom/target-ide/*
integtests/target-ide/*
webapp/target-ide/*
fixture/bin/*
integtests/bin/*
dom/bin/*

#Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
datanucleus.log
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#MAC
.DS_Store


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
